@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    height: 100%;
}

body {
    font-family: "PT Sans", sans-serif;
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100%; 
}

.main-container {
    flex-grow: 1;
}

.page-header {
    color: #000000;
    background: #ffffff;
}

.navigation {
    display: flex;
    margin: 0 auto;
    width: 1200px;
  }

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 531px;
    list-style-type: none;
}

.navigation-user {
    max-width: 300px;
    margin-left: auto;
}

.navigation-link {
    display: block;
    padding: 33px 20px;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    background: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.navigation-user .navigation-link {
    min-width: 16px;
    min-height: 22px;
}
  
.page-container {
    width: 1200px;
    margin: 0 auto;
}

.header-title {
    margin: 0;
    font-size: 60px;
    line-height: 78px;
    color:#ffffff;
    padding-top: 35px;
    padding-left: 75px;
}

.header-inner {
    background-image: url("images\catalog-background-1.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0; 
    color: #242424;
    list-style-type: none;
}

.breadcrumbs-link {
    color: #ffffff;
    width: 73px;
    height: 21px;
}

.main-index {
    color: #000000;
    background: #ffffff;
    text-align: center;
}

.welcome-block {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-image: url("/images/index-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    align-items: center;
    justify-content: space-between;
}

.promo-image {
    margin-top: 51px;
    width: 458px;
    height: 352px;
}

.description-text {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    text-align: center;
    padding-top: 63px;
    padding-bottom: 79px;
}

.advantages-header {
    margin: 0;
    width: 720px;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.advantages-title-main {
    margin: 0;
    font-size: 22px;
    line-height: 36px;
    padding-top: 15px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0;
    padding: 0;
}

.advantages-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 400px;
    background-color: #83B3D3;
    padding-top: 98px;
    padding-bottom: 77px;
}

.advantages-title {
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.advantages-description-num {
    padding-bottom: 26px;
}

.advantages-description {
    width: 220px;
}

.title-white {
    color:#ffffff;
}

.advantages-list-other {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: white;
}

.advantages-other-hotel,
.advantages-other-gift,
.advantages-other-food {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages-other-hotel,
.advantages-other-gift {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-other-title {
    margin: 0;
    padding-top: 184px;
    text-transform: uppercase;
}

.advantages-other-desription {
    width: 250px;
    padding-top: 20px;
    padding-bottom: 79px;
    text-align: center;
}

.advantages-item-square,
.advantages-item-tourist {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-road {
    background-color: rgba(131, 179, 211, 0.2);
    width: 400px;
}

.photo-item-1 {
    width: 800px;
    margin: 0;
    height: 384px;
}

.photo-item-2 {
    width: 800px;
    height: 384px;
    margin: 0;
}

.hotel-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 91px;
    margin-bottom: 91px;
}

.hotel-search-title {
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.hotel-search-description {
    width: 720px;
    margin: 0;
    font-size: 22px;
    line-height: 26px;
    padding-top: 15px;
    padding-bottom: 73px;
}

.hotels-list-filter-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
}

.control-label {
    font-size: 18px;
    line-height: 23px;
}

.header-inner {
    width: 1200px;
    background-image: url("/images/catalog-background-1.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.sorting {
    display: flex;
    margin: 0;
    padding-top: 42px;
    padding-bottom: 42px;
}

.sorting-type {
    width: 257px;
}

.sorting-view {
    margin-left: auto;
}

.hotel-counter {
    margin: 0;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    font-weight: bold;
    width: 600px;
}

.hotel-listing{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.hotel-list {
    margin: 0;
    padding: 0;
}

.hotel-card-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    text-decoration: none;
}

.hotel-card-image {
    width: 180px;
    height: 120px;
}

.hotel-card-type,
.hotel-card-price  {
    font-size: 18px;
    line-height: 23px;
}

.hotel-card-button {
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    background-color: blue;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.pagination-list {
    display: flex;   
}

.sorting-number {
    margin-left: auto;
}

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination-list {
    display: flex;
    padding: 7px; 
    background-color: #FFFFFF;
}

.pagination-link {
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    background: #ffffff;
    text-decoration: none; 
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
  }

.mailing {
    display: flex;
    flex-direction: column;
    background-image: url("/images/mailing-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 93px;
    padding-bottom: 93px;
}

.mailing-title {
    margin: 0;
    color:#ffffff;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.mailing-inner {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mailing-title-inner {
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.mailing-hotels {
    padding-bottom: 15px;
}

.mailing-title-hotels {
    color: black;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    justify-content: center;
}

.mailing-description-hotels {
    color: black;
    font-size: 22px;
    line-height: 26px;
}

.mailing-description {
    color: #ffffff;
    font-size: 22px;
    line-height: 26px;
}

.page-footer-container {
    display: flex;
    width: 1200px;
    margin: 40px auto 30px;
    justify-content: space-between;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-social {
    padding-left: 72px; 
}

.footer-social-item {
    padding-right: 30px;    
}

.callback {
    margin: 0;
    width: 720px;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    background: #ffffff;
    text-decoration: none;
}

.footer-logo {
    padding-right: 72px;
}